@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


.texto1212{
    position: static;
    
   
}

.cajaderechaabajo{
    background-color: rgb(255, 255, 255);
    

}

.imagen2{
    width: 100%;
    height: 100%;
    
}






















